

<% @post.each do |post|%>
<div class="card" style="width: 48rem;padding :25px;margin-top:50px;margin-left:150px;">

  <%=image_tag(post.file,style:'height:225px;width:550px;margin-left:70px;') %>
  <div class="card-body">
    <h5 class="card-title"><%=post.title %></h5>
    <p class="card-text"><%=post.content%></p>
    <p class="card-text text-primary">created by:<%=post.author%></p>
   
  </div>
 

</div>
<br>
<%end%>


