<a href="/home/userprofile"><%= image_tag ("/assets/user.jpeg"), style: 'height:40px;width:40px;float:right;margin-left: auto;border-radius: 50%;',class: "img-responsive"%></a>
<h1>user post<h1>
<%= link_to image_tag("/assets/post.png",style: 'height:50px;width:50px;margin-left: 1075px;border-radius: 50%;'),new_post_path%>